<div class="margin-top-20 panel centered full-width">
  <mat-toolbar class='progress'>
    <mat-toolbar-row class='progress__row--tools'>
      <p class='color-white margin-0 font-sm'><span i18n="step|Step@@step">Step</span> 2/3</p>
      <button mat-icon-button class='ui-button right-5 abs color-white' (click)="goBack()">
        <mat-icon aria-label="go back">arrow_back</mat-icon>
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row class='progress__row--previous'>
      <h6 class="color-white font-sm" i18n="previous selection|Shows previous selection@@prev-selection">Previously selected:</h6>
      <span class='margin-right-5'></span>
      <mat-chip class="margin-5 bg-white border-accent">
        <span class="centered color-black">{{selectedVerb.gloss}}</span>
        <mat-icon class="icon-sm margin-left-5"
          [ngClass]="selectedVerb?.thematic_relation ? 'color-' + selectedVerb?.thematic_relation : ''">brightness_1
        </mat-icon>
      </mat-chip>
    </mat-toolbar-row>
    <mat-toolbar-row class='progress__row--header'>
      <h4 class="font-xl color-white" i18n="who message|Explanation for 'the who'@@who-msg"><b>Who</b> is involved?</h4>
    </mat-toolbar-row>
  </mat-toolbar>
  <ng-template #loading>
    <mat-spinner class="centered"></mat-spinner>
  </ng-template>
  <div *ngIf="pronouns$ | async as pronouns; else loading">
    <div class="pwidth-50--desktop pwidth-100--mobile" *ngIf="selectedVerb.thematic_relation === 'blue'">
      <mat-chip-list>
        <mat-chip class="bg-white border-accent color-black" (click)="select('pat', pn, false)"
          *ngFor="let pn of pronouns">{{pn.obj_gloss}}
          <mat-icon class="margin-left-5 color-blue icon-md">person
          </mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="pwidth-50--desktop pwidth-100--mobile" *ngIf="selectedVerb.thematic_relation === 'red'">
      <mat-chip-list>
        <mat-chip class="bg-white border-accent color-black" (click)="select('ag', pn, false)"
          *ngFor="let pn of pronouns">{{pn.obj_gloss}}
          <mat-icon class="margin-left-5 color-red icon-md">person
          </mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="pwidth-50--desktop pwidth-100--mobile" *ngIf="selectedVerb.thematic_relation === 'purple'">
      <h6>Do-er</h6>
      <mat-chip-list>
        <mat-chip class="bg-white border-accent color-black" (click)="select('ag', pn, true)"
          *ngFor="let pn of pronouns">{{pn.gloss}}
          <mat-icon class="margin-left-5 color-red icon-md">person
          </mat-icon>
        </mat-chip>
      </mat-chip-list>
      <h6>Do-ee</h6>
      <mat-chip-list>
        <mat-chip class="bg-white border-accent color-black" (click)="select('pat', pn, true)"
          *ngFor="let pn of pronouns">{{pn.obj_gloss}}
          <mat-icon class="margin-left-5 color-blue icon-md">person
          </mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <div class="abs desktop-only full-height explorer--demo explorer--demo--right">
    <div *ngIf="pro_chart$ | async as pro_chart">
      <div #explorer1 echarts [options]="pro_chart" class="demo-chart" (chartClick)="onChartClick($event)"></div>
    </div>
  </div>
</div>