@import "~@angular/material/theming";

@mixin ww-settings-component-theme-common($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background-palette: map-get($theme, background);
  $foreground-palette: map-get($theme, foreground);

  .settings-container {
    .mat-checkbox-frame {
      border-color: mat-color($foreground-palette, base) !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    label,
    input,
    mat-placeholder,
    span {
      color: mat-color($foreground-palette, base);
    }

    .mat-select-arrow,
    mat-label {
      color: mat-color($foreground-palette, base) !important;
    }
  }
}

@mixin ww-settings-component-theme-dark($theme) {
  $background-palette: map-get($theme, background);
  $foreground-palette: map-get($theme, foreground);

  .settings-container {
    background-color: lighten(mat-color($background-palette, background), 10%);
  }
}

@mixin ww-settings-component-theme-light($theme) {
  $background-palette: map-get($theme, background);
  $foreground-palette: map-get($theme, foreground);

  .settings-container {
    background-color: darken(mat-color($background-palette, background), 10%);
  }
}
