<div class='container page__content vwidth-90 centered center-text'>
    <div [ngClass]="routeAnimationsElements">

        <h2 class='margin-top-50'>Welcome to the Kawennón:nis Word Maker!</h2>
        <p>There are three steps to make a word. We'll need to know <b>what</b> the action is, <b>who</b> is doing it,
            and
            <b>when</b> it's
            happening.</p>
        <p>You can press the left arrow key to go to the previous step and the right arrow key to go to the next step.
        </p>
        <p>Let's get started!</p>
        <button mat-fab class='ui-button mat-fab mat-accent' id='start' routerLink="stepper">START</button>
    </div>
</div>