@import "../../../../scss/utilities/colors";
@import "~@angular/material/theming";

@mixin ww-tableviewer-conj-panel-component-theme-common($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .panel__header__container {
    background-color: mat-color($primary);
  }
}

@mixin ww-tableviewer-conj-panel-component-theme-dark($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .panel__header__container {
    background-color: darken(mat-color($primary), 10%);
  }
}

@mixin ww-tableviewer-conj-panel-component-theme-light($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .panel__header__container {
    background-color: lighten(mat-color($primary), 5%);
  }
}
