<div class="panel" *ngIf="settings$ | async as settings">
    <div class='panel__header__container'>
        <div *ngIf="show_toolbar" class="panel__header panel__header--tableview">
            <h5 #header class="panel__title">{{ 'ww.tableviewer.conj.title' | translate }}</h5>
            <div class="panel__toolbar toolbar" *ngIf="selection$ | async as selection">
                <mat-spinner *ngIf='selection.loading' class='panel__toolbar__spinner' [color]="'accent'"
                    [diameter]='20'>
                </mat-spinner>
                <button #conjugate (click)='onManualConjugation($event)' class="conjugate mat-accent" mat-raised-button>
                    {{ 'ww.tableviewer.conj.conjugate' | translate }}
                </button>
                <select *ngIf="selection.view === 'tree'" (change)="onChangeTreeDepth($event)"
                    class="toolbar__tool ui-button" [matTooltip]="'ww.tableviewer.conj.depth-tip' | translate"
                    [matTooltipShowDelay]="showDelay.value" [matTooltipHideDelay]="hideDelay.value"
                    [matTooltipPosition]="tooltipPosition">
                    <option value="0">0</option>
                    <option selected value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <button *ngIf="selection.view === 'tree'" class="toolbar__tool ui-button" mat-icon-button
                    (click)="onToggleTreeOrder()" [matTooltip]="'ww.tableviewer.conj.order-tip' | translate"
                    [matTooltipShowDelay]="showDelay.value" [matTooltipHideDelay]="hideDelay.value"
                    [matTooltipPosition]="tooltipPosition">
                    <mat-icon aria-label="Switch pronoun and temp">swap_horiz</mat-icon>
                </button>
                <button *ngIf="selection.view === 'grid'" class="toolbar__tool ui-button" mat-icon-button
                    (click)="onSwapGridOrder(selection.gridOrder.row, selection.gridOrder.col)" [matTooltip]="'ww.tableviewer.conj.grid-order-tip' | translate"
                    [matTooltipShowDelay]="showDelay.value" [matTooltipHideDelay]="hideDelay.value"
                    [matTooltipPosition]="tooltipPosition">
                    <mat-icon aria-label="Switch rows and columns">swap_horiz</mat-icon>
                </button>
                <button (click)="download()" class="ui-button toolbar__tool" mat-icon-button
                    [matTooltip]="'ww.tableviewer.conj.download-tip' | translate"
                    [matTooltipShowDelay]="showDelay.value" [matTooltipHideDelay]="hideDelay.value"
                    [matTooltipPosition]="tooltipPosition">
                    <mat-icon aria-label="Download conjugations">get_app</mat-icon>
                </button>
                <button (click)="showSettings()" class="ui-button toolbar__tool" mat-icon-button
                    [matTooltip]="'ww.tableviewer.conj.show-settings' | translate"
                    [matTooltipShowDelay]="showDelay.value" [matTooltipHideDelay]="hideDelay.value"
                    [matTooltipPosition]="tooltipPosition">
                    <mat-icon aria-label="Show setting">more_horiz</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="selection$ | async as selection">
        <div>
            <h4 class="desktop-only center-text margin-top-50 padding-20"
                *ngIf="!selection.loading && selection.conjugations.length === 0" [ngClass]="routeAnimationsElements"
                [innerHTML]="'ww.tableviewer.conj.instructions' | translate">
            </h4>
            <h3 class="mobile-only padding-15 center-text"
                *ngIf="!selection.loading && selection.conjugations.length === 0"
                [innerHTML]="'ww.tableviewer.conj.instructions-mobile' | translate">
            </h3>
        </div>

        <!-- Tree View -->
        <div class='panel__tree__container'>
            <div *ngIf="selection.view === 'tree' && selection.conjugations" [hidden]="selection.view !== 'tree'"
                class="full-width full-height">
                <ww-conjugation-tree></ww-conjugation-tree>
            </div>
        </div>

        <!-- Grid View  -->
        <div *ngIf="selection.view === 'grid'" [hidden]="selection.view !== 'grid'" class="grid__container">
            <ww-conjugation-grid [data$]="gridData$"></ww-conjugation-grid>
        </div>

        <!-- List View -->
        <div *ngIf="selection.view === 'list'" [hidden]="selection.view !== 'list'" class="list__container">
            <ww-conjugation-list [data$]="listData$"></ww-conjugation-list>
        </div>
    </div>
</div>