<div
  class="profile__container br--all container custom-scroll page__content centered vwidth-90 margin-bottom-50"
>
  <div class="row">
    <div class="col-sm-12">
      <h1>{{ "ww.pages.profile.title" | translate }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm12" *ngIf="auth.isAuthenticated$ | async">
      <p *ngIf="auth.user$ | async as user">
        {{ "ww.pages.profile.welcome" | translate : { name: user.name } }}
      </p>
    </div>
    <div class="col-sm12" *ngIf="(auth.isAuthenticated$ | async) === false">
      <p>{{ "ww.pages.profile.welcome-no-auth" | translate }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm12" *ngIf="auth.isAuthenticated$ | async">
      <button
        class="mb-5"
        mat-raised-button
        (click)="
          auth.logout({ logoutParams: { returnTo: document.location.origin } })
        "
      >
        {{ "ww.pages.profile.logout" | translate }}
      </button>
    </div>
  </div>
  <div class="row"></div>
</div>
