<div class='container page__content vwidth-90 centered'>
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="verbFormGroup">
            <form [formGroup]="verbFormGroup">
                <ng-template matStepLabel>{{ verbLabel | async }}</ng-template>
                <div class='step-container'>
                    <ww-wordmaker-verb-step (selectedVerb)='onVerbSelect($event)'></ww-wordmaker-verb-step>
                </div>
                <!-- <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Last name, First name" formControlName="verbCtrl" required>
                </mat-form-field> -->
                <div class='margin-top-30'>
                    <button mat-raised-button class='mat-accent' matStepperNext
                        (click)="selectRandomIfNull('verb')">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="persFormGroup">
            <form [formGroup]="persFormGroup">
                <ng-template matStepLabel>Who is doing it?</ng-template>
                <ww-wordmaker-pers-step></ww-wordmaker-pers-step>
                <!-- <mat-form-field>
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="persCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field> -->
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="tempFormGroup">
            <form [formGroup]="persFormGroup">
                <ng-template matStepLabel>When is it happening?</ng-template>
                <ww-wordmaker-temp-step></ww-wordmaker-temp-step>
                <!-- <mat-form-field>
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="persCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field> -->
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <ww-wordmaker-conj-step></ww-wordmaker-conj-step>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Start over</button>
        </mat-step>
    </mat-horizontal-stepper>
</div>