node_modules
.DS_Store
.vscode
dist/*
dist/word-weaver
projects/word-weaver/src/assets/trim.*
scripts/poeditor_api_token.txt
scripts/*.json
/.angular/cache
coverage
/test-results/
/playwright-report/
/playwright/.cache/
