#start {
    width: 4em;
    height: 4em;
    font-size: 1.25em;
    // margin-left: 15em;
    position: relative;
    // left: -1500px;
    // margin-left: 25%;
    margin-top: 25px;
}

#svgGroup {
    stroke: map-get($ui-colors, accent) !important;
    stroke-width: 0.25mm;
    fill: transparent;
    stroke-dasharray: 700;
    stroke-dashoffset: 700;
  }

  .animated {
    animation: dash 2s;
    -webkit-animation-fill-mode: forwards;
  }

  @keyframes dash {
      0% {
        fill: transparent
      }
      50% {
        fill: map-get($ui-colors, accent)
      }
      100% {
        fill: map-get($ui-colors, shadow);
      }
  }
