// Nav Items

%nav-content {
    // right: em(50);
    // top: em(14);
    margin-top: em(5);
    margin-right: em(20);
    font-size: em(map-get($font-sizes, lg));
    // position: absolute;
    z-index: 999;
    float: right;
}

%nav-item {
    position: relative;
    font-size: em(20);
    line-height: em(28);
    margin: 0 em(1);
    z-index: map-get($zindex, nav);
}

%nav-link {
    text-decoration: none;
    padding: em(5);
    &:hover {
        cursor: pointer;
    }
    font-family: $font-family-accent;
    font-weight: normal;
    z-index: map-get($zindex, nav);
}

%title {
    font-weight: 700;
}