

.highlight.agent {
    color: map-get($verb-highlight-colors, agent);
}

.highlight.patient {
    color: map-get($verb-highlight-colors, patient);
}

.highlight.agent.patient {
    color: map-get($verb-highlight-colors, transitive);
}

.root.highlight {
    color: map-get($other-highlights, 1);
}

.aspect.highlight {
    color: map-get($other-highlights, 3);
}

.prepronominal_prefix.highlight {
    color: map-get($other-highlights, 5);
}

.post_aspectual_suffix.highlight {
    color: map-get($other-highlights, 4);
}

.tmp_affix.highlight {
    color: map-get($other-highlights, 6);
}

.circle {
    width: em(8);
    height: em(8);
    min-height: em(8);
    min-width: em(8);
    border-radius: em(8);
}
