%panel-header {
    display: inline-flex;
    min-height: em(60);
    @extend %full-width;
}

.panel {
    max-width: em(map-get($breakpoints, xlarge));
    &__header {
        justify-content: space-between;
        @extend %panel-header;
        &--right {
            @extend %panel-header;
            justify-content: flex-end;
        }
    }

    &__title {
        @extend %title;
        margin: em(10);
        &__underline {
        }
    }
    &__toolbar {
     
    }
    &__content {
    }
    &__list {
        margin: 0 em(15);
        display: inline-grid !important;
    }

}

.toolbar {
    width: fit-content;
    z-index: map-get($zindex, ui-button);
    &__tool {
        margin: em(5) !important;
    }
}