<div class="centered page__content vwidth-90 rel">
  <div class="">
    <div id="welcome" class="centered center-text vmargin-top-10" *ngIf="currentStep === 0">
      <h3 class="font-xxl" i18n="wordmaker welcome|Welcome message for wordmaker@@wm-welcome">Welcome to the {{ title }} Word Maker!</h3>
      <p class="vmargin-top-5 font-md" i18n="wordmaker instructions|Instruction message for wordmaker@@wm-instructions">There are three steps to make a word. We'll need to know <span class="font-weight--900" (mouseenter)="showExplorer('verbs')"
          (mouseleave)="hideExplorer('verbs')">what</span> the action is, <span class="font-weight--900" (mouseenter)="showExplorer('who')"
          (mouseleave)="hideExplorer('who')">who</span> is doing it, and <span class="font-weight--900" (mouseenter)="showExplorer('when')"
          (mouseleave)="hideExplorer('when')">when</span> it's happening.</p>
      <p class="font-md" i18n="wordmaker proceed message|Message for proceeding with wordmaker@@wm-proceed">You can press the <b>left</b> arrow key to go to the previous step and the <b>right</b> arrow key to go to the next step. </p>
      <p i18n="get started|Message to get started@@get-started">Let's get started!</p>
      <button id="start" class='ui-button' mat-fab (click)="firstStep()" i18n="start button|Wordmaker start button@@start">START</button>
      <div class="abs full-height desktop-only explorer--demo explorer--demo--right">
        <div *ngIf="who && showWho">
            <div #explorer1 echarts [options]="who" class="demo-chart"></div>
        </div>
      </div>
      <div class="abs full-height desktop-only explorer--demo explorer--demo--right">
        <div *ngIf="verbs && showVerbs">
            <div #explorer2 echarts [options]="verbs" class="demo-chart"></div>
        </div>
      </div>
      <div class="abs full-height desktop-only explorer--demo explorer--demo--right">
        <div *ngIf="when && showWhen">
            <div #explorer3 echarts [options]="when" class="demo-chart"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <button *ngIf="currentStep !== 0" class="abs top-0 left-10" mat-icon-button (click)="previousStep()">
    <mat-icon aria-label="Go back">arrow_back</mat-icon>
  </button> -->
  <wordmaker-verb-panel id="firstStep" *ngIf="currentStep === 1" (selectedVerb)="verbSelected($event)" (goBackTrigger)="triggeredPreviousStep()"></wordmaker-verb-panel>
  <wordmaker-pers-panel id="secondStep" *ngIf="currentStep === 2" [selectedVerb]="selectedVerb" (selectedPers)="persSelected($event)" (goBackTrigger)="triggeredPreviousStep()"></wordmaker-pers-panel>
  <wordmaker-temp-panel id="thirdStep" *ngIf="currentStep === 3" (selectedTemp)="tempSelected($event)" [wordmaker]="this" (goBackTrigger)="triggeredPreviousStep()"></wordmaker-temp-panel>
  <wordmaker-conjugation-panel id="finalStep" *ngIf="currentStep === 4" [word$]="word$" [wordmaker]="this" (goBackTrigger)="triggeredPreviousStep($event)"></wordmaker-conjugation-panel>
</div>