<div class="container page__content vwidth-90 centered margin-bottom-50">
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step>
      <form>
        <ng-template matStepLabel>{{
          verbLabel | async | translate
        }}</ng-template>
        <div class="step-container">
          <ww-wordmaker-verb-step
            (selectedVerb)="onVerbSelect($event)"
            *ngIf="stepper.selectedIndex === 0; else loading"
          ></ww-wordmaker-verb-step>
        </div>
        <div class="margin-top-30">
          <button
            mat-raised-button
            class="mat-accent float-right"
            matStepperNext
          >
            {{ "ww.pages.wordmaker.common.next" | translate }}
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form>
        <ng-template matStepLabel>{{
          persLabel | async | translate
        }}</ng-template>
        <ww-wordmaker-pers-step
          (selectedAgent)="onAgentSelect($event)"
          (selectedPatient)="onPatientSelect($event)"
          *ngIf="stepper.selectedIndex === 1; else loading"
        ></ww-wordmaker-pers-step>
        <div class="margin-top-30">
          <button
            mat-raised-button
            class="mat-accent float-left"
            matStepperPrevious
          >
            {{ "ww.pages.wordmaker.common.previous" | translate }}
          </button>
          <button
            mat-raised-button
            class="mat-accent float-right"
            matStepperNext
          >
            {{ "ww.pages.wordmaker.common.next" | translate }}
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form>
        <ng-template matStepLabel>{{
          tempLabel | async | translate
        }}</ng-template>
        <ww-wordmaker-temp-step
          (selectedTemp)="onTempSelect($event)"
          *ngIf="stepper.selectedIndex === 2; else loading"
        ></ww-wordmaker-temp-step>
        <div class="margin-top-30">
          <button
            mat-raised-button
            class="mat-accent float-left"
            matStepperPrevious
          >
            {{ "ww.pages.wordmaker.common.previous" | translate }}
          </button>
          <button
            mat-raised-button
            class="mat-accent float-right"
            matStepperNext
          >
            {{ "ww.pages.wordmaker.common.next" | translate }}
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{
        "ww.pages.wordmaker.steps.conj.finished" | translate
      }}</ng-template>
      <ww-wordmaker-conj-step
        *ngIf="stepper.selectedIndex === 3; else loading"
      ></ww-wordmaker-conj-step>
      <div class="margin-top-30">
        <button
          mat-raised-button
          class="mat-accent float-left"
          matStepperPrevious
        >
          {{ "ww.pages.wordmaker.common.previous" | translate }}
        </button>
        <button
          mat-raised-button
          class="mat-accent float-right"
          (click)="stepper.reset()"
        >
          {{ "ww.pages.wordmaker.common.restart" | translate }}
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
