<div class="overlay page__content vmargin-right-20 vmargin-left-20" *ngIf="instruction">
    <button (click)="exit()" class='top-25 exit float-right' mat-icon-button>
        <mat-icon aria-label="hide overlay">highlight_off</mat-icon>
    </button>
    <p class="margin-top-50">{{ 'ww.common.language' | translate }} is <em>really</em> complex, and {{ 'ww.common.title' | translate }} is able to show a lot of that
        complexity.
        Give it a few seconds, but down below you will see a tiny dot appear named {{ 'ww.common.title' | translate }}. This is a tool that lets
        you
        explore all of the conjugations possible with {{ 'ww.common.title' | translate }}. You can drag it around, click further and further into
        the
        model, and use your mouse to zoom in and out. You can close this instruction with the 'x' above. Have fun!</p>
</div>

<div *ngIf="response | async" echarts [options]="response | async" class="echart"></div>