@import "~@angular/material/theming";

@mixin ww-child-component-theme($theme) {
  $warn: map-get($theme, warn);

  ww-child {
    > div {
      border-color: mat-color($warn);

      > h2 {
        color: mat-color($warn);
      }
    }
  }
}
