$panel-size: 475;
$panel-header-size: 0.25;
$panel-content-size: 0.75;
$panel-adjustment: 0.1;

%panel-header {
  min-height: em($panel-size * $panel-header-size);
  max-height: em($panel-size * $panel-header-size);
  @extend %full-width;
}

.panel {
  max-width: em(map-get($breakpoints, xlarge));

  &__header {
    justify-content: space-between;
    @extend %panel-header;

    &--right {
      @extend %panel-header;
      justify-content: flex-end;
    }

    &--small {
      min-height: em($panel-size * ($panel-header-size - $panel-adjustment));
      max-height: em($panel-size * ($panel-header-size - $panel-adjustment));
      @extend %full-width;
    }

    &--large {
      min-height: em($panel-size * ($panel-header-size + $panel-adjustment));
      max-height: em($panel-size * ($panel-header-size + $panel-adjustment));
      @extend %full-width;
    }
  }

  &__title {
    @extend %title;
    margin: em(10);

    &__underline {
    }
  }

  &__toolbar {
  }

  &__content {
    max-height: em($panel-size * $panel-content-size);
    min-height: em($panel-size * $panel-content-size);
    overflow-y: auto;

    &--small {
      max-height: em($panel-size * ($panel-content-size - $panel-adjustment));
      min-height: em($panel-size * ($panel-content-size - $panel-adjustment));
    }

    &--large {
      max-height: em($panel-size * ($panel-content-size + $panel-adjustment));
      min-height: em($panel-size * ($panel-content-size + $panel-adjustment));
    }
  }

  &__list {
    margin: 0 em(15);
    display: inline-grid !important;
  }
}

.toolbar {
  width: fit-content;
  z-index: map-get($zindex, ui-button);

  &__tool {
    margin: em(5) !important;
  }
}
