<div class="container page__content vwidth-90 centered">
  <mat-grid-list class='margin-bottom-50' [cols]="cols" rowHeight="18em" (window:resize)="onResize($event)">
    <mat-grid-tile [colspan]="3" [rowspan]="halfrowspan" class="br-tl b--left b--right b--top bg-white">
      <pers-panel class='custom-scroll full-width full-height'></pers-panel>
    </mat-grid-tile>
    <mat-grid-tile class="b--top b--left bg-white" [colspan]="conjcolspan" [rowspan]="conjrowspan">
      <conj-panel #conjPanel class="custom-scroll full-width full-height"></conj-panel>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="fullrowspan" class="br--tr br--br b--left b--right b--top b--bottom bg-white">
      <verb-panel class='custom-scroll full-width full-height'></verb-panel>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="halfrowspan" class="br--bl b--top b--left b--right b--bottom bg-white">
      <temp-panel class='custom-scroll full-width'></temp-panel>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="height-100"></div>
</div>