$border-radius-default: 5px;

.br--tl {
  border-top-left-radius: $border-radius-default;
}

.br--tr {
  border-top-right-radius: $border-radius-default;
}

.br--br {
  border-bottom-right-radius: $border-radius-default;
}

.br--bl {
  border-bottom-left-radius: $border-radius-default;
}

.br--all {
  border-radius: $border-radius-default;
}

@media only screen and (max-device-width: 1100px) {
  .br--tl,
  .br--bl,
  .br--tr,
  .br--br {
    border-radius: 0;
  }
}

@media only screen and (min-device-width: 1100px) {
  .b--top {
    border-top: 1px solid #dedede;
  }
  .b--right {
    border-right: 1px solid #dedede;
  }
  .b--bottom {
    border-bottom: 1px solid #dedede;
  }
  .b--left {
    border-left: 1px solid #dedede;
  }
}

mat-chip,
div {
  @include border-colors($verb-highlight-color-names);
  @include border-colors($ui-colors);
}
