%scroll {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: em(8);
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 em(5) map-get($ui-colors, shadow);
    border-radius: em(5);
  }
  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 em(5) map-get($ui-colors, shadow);
    background: rgba(map-get($ui-colors, accent), 0.4);
    border-radius: em(5);
  }
}

.custom-scroll {
  @extend %scroll;
}
