@import "~@angular/material/theming";

@mixin ww-scroll($theme) {
  $accent: map-get($theme, accent);
  $background-palette: map-get($theme, background);

  $background: lighten(mat-color($background-palette, background), 20%);
  %scroll {
    &::-webkit-scrollbar {
      width: em(8);
      height: em(8);
    }

    &::-webkit-scrollbar-track {
      box-shadow: 0 0 em(5) $background;
      // box-shadow: inset 0 0 em(5) map-get($ui-colors, shadow);
      border-radius: em(5);
    }

    &::-webkit-scrollbar-thumb {
      box-shadow: 0 0 em(5) $background;
      // box-shadow: inset 0 0 em(5) map-get($ui-colors, shadow);
      background: rgba(mat-color($accent), 0.6);
      border-radius: em(5);
    }
  }

  .custom-scroll {
    @extend %scroll;
    overflow-y: auto;
    overflow-x: auto;
  }

  .custom-scroll-y {
    @extend %scroll;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .custom-scroll-x {
    @extend %scroll;
    overflow-y: hidden;
    overflow-x: auto;
  }
}
