table {
  width: 100%;
}

.table__container {
  width: 934px;
  overflow: auto;
  height: 520px;
  min-height: 100%;
}

.mat-paginator {
  position: absolute;
  bottom: 0;
  width: 100%;
}

th,
td,
th.mat-header-cell {
  width: 150px;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.mat-tab-group {
  height: 530px;
}

.mat-tab-body-wrapper {
  height: 100%;
}
