$ww-dark-theme-primary: mat-palette($mat-grey, 700, 300, 900);
$ww-dark-theme-accent: mat-palette($mat-blue-grey, 400);
$ww-dark-theme-warn: mat-palette($mat-red, 500);

$ww-dark-theme: mat-dark-theme(
  $ww-dark-theme-primary,
  $ww-dark-theme-accent,
  $ww-dark-theme-warn
);
