$ww-light-theme-primary: mat-palette($mat-grey, 200, 500, 300);
$ww-light-theme-accent: mat-palette($mat-brown, 200);
$ww-light-theme-warn: mat-palette($mat-deep-orange, 200);

$ww-light-theme: mat-light-theme(
  $ww-light-theme-primary,
  $ww-light-theme-accent,
  $ww-light-theme-warn
);
