@import "palettes.scss";
$ww-nature-primary: mat-palette($mat-deep-purple, 400);
// $ww-nature-primary: mat-palette($mat-deep-purple, 700, 400, 700);
$ww-nature-accent: mat-palette($mat-amber, 300);
$ww-nature-warn: mat-palette($mat-red, 600);

$ww-nature-theme: mat-light-theme(
  $ww-nature-primary,
  $ww-nature-accent,
  $ww-nature-warn
);
