$md-purple: (
  50: #eae5ee,
  100: #c9bed4,
  200: #a692b7,
  300: #82669a,
  400: #674684,
  500: #4c256e,
  600: #452166,
  700: #3c1b5b,
  800: #331651,
  900: #240d3f,
  A100: #af79ff,
  A200: #9146ff,
  A400: #7213ff,
  A700: #6400f8,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-teal: (
  50: #effcff,
  100: #d7f7fe,
  200: #bcf1fe,
  300: #a1ebfe,
  400: #8ce7fd,
  500: #78e3fd,
  600: #70e0fd,
  700: #65dcfc,
  800: #5bd8fc,
  900: #48d0fc,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ebfaff,
  A700: #d2f4ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-yellow: (
  50: #fff6e0,
  100: #ffe9b3,
  200: #ffdb80,
  300: #ffcd4d,
  400: #ffc226,
  500: #ffb700,
  600: #ffb000,
  700: #ffa700,
  800: #ff9f00,
  900: #ff9000,
  A100: #ffffff,
  A200: #fff9f2,
  A400: #ffe0bf,
  A700: #ffd4a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-red: (
  50: #fcede4,
  100: #f9d1bb,
  200: #f5b28d,
  300: #f0935f,
  400: #ed7c3d,
  500: #ea651b,
  600: #e75d18,
  700: #e45314,
  800: #e14910,
  900: #db3708,
  A100: #ffffff,
  A200: #ffd9d1,
  A400: #ffaf9e,
  A700: #ff9b85,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-blue: (
  50: #e0edff,
  100: #b3d2ff,
  200: #80b4ff,
  300: #4d96ff,
  400: #2680ff,
  500: #0069ff,
  600: #0061ff,
  700: #0056ff,
  800: #004cff,
  900: #003bff,
  A100: #ffffff,
  A200: #f2f4ff,
  A400: #bfcaff,
  A700: #a6b5ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-pink: (
  50: #fbf8fb,
  100: #f5edf5,
  200: #eee2ee,
  300: #e7d6e7,
  400: #e2cde2,
  500: #a38560,
  600: #d9bed9,
  700: #d4b6d4,
  800: #cfafcf,
  900: #c7a2c7,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffefff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$md-maddypurp: (
  50: #efe7f3,
  100: #d7c3e0,
  200: #bc9bcc,
  300: #a172b7,
  400: #8d54a7,
  500: #793698,
  600: #713090,
  700: #662985,
  800: #5c227b,
  900: #49166a,
  A100: #d8a2ff,
  A200: #c36fff,
  A400: #ae3cff,
  A700: #a323ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$md-maddypurpdark: (
  50: #f5edf9,
  100: #e6d2f0,
  200: #d6b4e6,
  300: #c595db,
  400: #b87fd4,
  500: #ac68cc,
  600: #a560c7,
  700: #9b55c0,
  800: #924bb9,
  900: #823aad,
  A100: #fdfbff,
  A200: #eac8ff,
  A400: #d695ff,
  A700: #cc7bff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
