@import "palettes.scss";
$ww-purple-blue-theme-primary: mat-palette($mat-deep-purple, 400);
$ww-purple-blue-theme-accent: mat-palette($mat-blue, 200);
$ww-purple-blue-theme-accent-light: mat-palette($mat-blue, 300);
$ww-purple-blue-theme-warn: mat-palette($mat-red, 200);

$ww-purple-blue-theme--light: mat-light-theme(
  $ww-purple-blue-theme-primary,
  $ww-purple-blue-theme-accent-light,
  $ww-purple-blue-theme-warn
);

$ww-purple-blue-theme--dark: mat-dark-theme(
  $ww-purple-blue-theme-primary,
  $ww-purple-blue-theme-accent,
  $ww-purple-blue-theme-warn
);
