@import "@angular/material/theming";
.content {
  &:after {
    z-index: -1;
    background-size: cover;
    content: " ";
    display: block;
    position: absolute;
    left: 0%;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.35;
    // background-image: url('http://placekitten.com/1500/1000');
    background-repeat: no-repeat;
    background-position: 20% 100%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@mixin ww-background-theme-light($theme) {
  .content {
    &:after {
      background-image: url("https://roedoejet.github.io/kawennonnis_gui/dist_toy/assets/img/bg.jpg");
    }
  }
}

@mixin ww-background-theme-dark($theme) {
  .content {
    &:after {
      background-image: url("https://roedoejet.github.io/kawennonnis_gui/dist_toy/assets/img/bg.jpg");
    }
  }
}
