<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>{{ 'ww.settings.title' | translate }}</h1>
    </div>
  </div>
  <br>
  <ng-container *ngIf="settings$ | async as settings">
    <div class='row'>
      <div class='col-md-6 group' [ngClass]='routeAnimationsElements'>
        <h2>{{ 'ww.settings.general.highlighting.title' | translate }}</h2>
        <div class='icon-form-field checkboxes'>
          <mat-checkbox class="pronouns" [checked]="settings.highlight.pronoun"
            (change)="onHighlightSelect($event, 'pronoun')">
            {{ 'ww.settings.general.highlighting.pronouns' | translate }}
          </mat-checkbox>
          <mat-checkbox class="root" [checked]="settings.highlight.root" (change)="onHighlightSelect($event, 'root')">
            {{ 'ww.settings.general.highlighting.verb' | translate }}
          </mat-checkbox>
          <mat-checkbox class="aspect" [checked]="settings.highlight.aspect"
            (change)="onHighlightSelect($event, 'aspect')">
            {{ 'ww.settings.general.highlighting.aspect' | translate }}
          </mat-checkbox>
          <mat-checkbox class="prepronominal_prefix" [checked]="settings.highlight.prepronominal_prefix"
            (change)="onHighlightSelect($event, 'prepronominal_prefix')">
            {{ 'ww.settings.general.highlighting.required' | translate }}
          </mat-checkbox>
          <mat-checkbox class="tmp_affix" [checked]="settings.highlight.tmp_affix"
            (change)="onHighlightSelect($event, 'tmp_affix')">
            {{ 'ww.settings.general.highlighting.temp' | translate }}
          </mat-checkbox>
          <mat-checkbox class="post_aspectual_suffix" [checked]="settings.highlight.post_aspectual_suffix"
            (change)="onHighlightSelect($event, 'post_aspectual_suffix')">
            {{ 'ww.settings.general.highlighting.post-aspectual' | translate }}
          </mat-checkbox>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class='row'>
      <div class='col-md-6 group' [ngClass]='routeAnimationsElements'>
        <h2>{{ 'ww.settings.general.tiers.title' | translate }}</h2>
        <div class='icon-form-field checkboxes'>
          <mat-checkbox [checked]="settings.level.gloss" (change)="onLevelSelect($event, 'gloss')">
            {{ 'ww.settings.general.tiers.gloss' | translate }}
          </mat-checkbox>
          <mat-checkbox [checked]="settings.level.breakdown" (change)="onLevelSelect($event, 'breakdown')">
            {{ 'ww.settings.general.tiers.breakdown' | translate }}
          </mat-checkbox>
          <mat-checkbox [checked]="settings.level['breakdown-translation']"
            (change)="onLevelSelect($event, 'breakdown-translation')">
            {{ 'ww.settings.general.tiers.breakdown-translation' | translate }}
          </mat-checkbox>
          <mat-checkbox [checked]="settings.level.translation" (change)="onLevelSelect($event, 'translation')">
            {{ 'ww.settings.general.tiers.translation' | translate }}
          </mat-checkbox>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-6 group" [ngClass]="routeAnimationsElements">
        <h2>{{ 'ww.settings.general.title' | translate }}</h2>
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="language" color="accent"></fa-icon>
          </mat-icon>
          <mat-form-field>
            <mat-select [placeholder]="'ww.settings.general.placeholder' | translate" [ngModel]="settings.language"
              (selectionChange)="onLanguageSelect($event)" name="language">
              <mat-option *ngFor="let l of languages" [value]="l.value">
                {{  l.label | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="bars" color="accent"></fa-icon>
          </mat-icon>
          <mat-placeholder>{{ 'ww.settings.themes.sticky-header' | translate }}
          </mat-placeholder>
          <mat-slide-toggle [checked]="settings.stickyHeader" (change)="onStickyHeaderToggle($event)">
          </mat-slide-toggle>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 group" [ngClass]="routeAnimationsElements">
        <h2>{{ 'ww.settings.themes.title' | translate }}</h2>
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="paint-brush" color="accent"></fa-icon>
          </mat-icon>
          <mat-form-field>
            <mat-select [placeholder]="'ww.settings.themes.placeholder' | translate" [ngModel]="settings.theme"
              (selectionChange)="onThemeSelect($event)" name="themes">
              <mat-option *ngFor="let t of themes" [value]="t.value">
                {{ t.label | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="icon-form-field">
          <mat-icon color="accent">
            <fa-icon icon="lightbulb" color="accent"></fa-icon>
          </mat-icon>
          <mat-placeholder>{{ 'ww.settings.themes.night-mode' | translate }}
          </mat-placeholder>
          <mat-slide-toggle [checked]="settings.autoNightMode" (change)="onAutoNightModeToggle($event)">
          </mat-slide-toggle>
        </div>
        <div class="icon-form-field">
          <mat-placeholder>{{ 'ww.settings.advanced' | translate }}
          </mat-placeholder>
          <mat-slide-toggle [checked]="settings.testApi" (change)="onTestApiToggle($event)">
            {{ 'ww.settings.testApi' | translate}}
          </mat-slide-toggle>
        </div>
      </div>
    </div>
  </ng-container>
</div>