<div class="margin-top-20 panel centered full-width">
    <div class='panel__header'>
        <div class='container'>
            <div class='row'>
                <p class="margin-0 font-lg">{{ 'ww.wordmaker.conj.congratulations-header' | translate }}!</p>
            </div>
            <div class='row'>
                <br>
            </div>
            <div class='row'>
                <div class='congratulations col-sm-12'>
                    <p class="font-lg" [innerHTML]="'ww.wordmaker.conj.congratulations-text' | translate">
                    </p>
                </div>
            </div>
        </div>

    </div>
    <hr class='margin-bottom-50'>
    <div class='panel__content' *ngIf="settings$ | async as settings">
        <div id="conjugation-result" class="conjugation center-text"
            *ngFor="let tier of (conjugation$ | async); let i = index">
            <h3 *ngIf='i === 0' [innerHTML]='tier.html'></h3>
            <h5 *ngIf='settings.level[tier.name] && i !== 0' [innerHTML]='tier.html'>
            </h5>
        </div>
    </div>
</div>