<div *ngIf="settings$ | async as settings" class="margin-top-20 panel centered full-width"
    [ngClass]="settings.highlight">
    <div class='panel__header'>
        <div class='container' *ngIf="conjugation$ | async as conjugations">
            <div class='row'>
                <p class="margin-0 font-lg">{{ 'ww.pages.wordmaker.steps.conj.congratulations-header' | translate }}!</p>
            </div>
            <div class='row'>
                <br>
            </div>
            <div class='row'>
                <div class='congratulations col-sm-12'>
                    <p class="font-lg" [innerHTML]="'ww.pages.wordmaker.steps.conj.congratulations-text' | translate">
                    </p>
                </div>
            </div>
        </div>

    </div>
    <hr *ngIf="conjugation$ | async as conjugations" class='margin-bottom-50'>
    <div class='panel__content'>
        <ng-template #loading>
            <mat-spinner class="centered"></mat-spinner>
        </ng-template>
        <div class='pwdith-50--desktop pwidth-100--mobile centered'
            *ngIf="conjugation$ | async as conjugations; else loading">
            <div id="conjugation-result" class="conjugation center-text" *ngFor="let tier of tiers; let i = index">
                <h3 *ngIf='i === 0'>
                    <ww-tier *ngIf="conjugations[0]" [tier]="tier" [data]="conjugations[0]"></ww-tier>
                </h3>
                <h5 *ngIf='settings.level[tier.name] && i !== 0'>
                    <ww-tier *ngIf="conjugations[0]" [tier]="tier" [data]="conjugations[0]"></ww-tier>
                </h5>
                <h3 *ngIf="!conjugations[0]" >{{ 'ww.pages.wordmaker.notifications.noconjugation' | translate }}</h3>
            </div>
        </div>
    </div>
</div>