$ww-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$ww-nature-accent: mat-palette($mat-deep-purple, 300);
$ww-nature-warn: mat-palette($mat-red, 600);

$ww-nature-theme: mat-light-theme(
  $ww-nature-primary,
  $ww-nature-accent,
  $ww-nature-warn
);
