<div class='panel'>
  <div class='panel__header'>
    <h3 class='panel__title'>Person</h3>
    <!-- <hr class='panel__underline'> -->
    <div class='panel__toolbar--right toolbar'>
      <mat-button-toggle-group class="toolbar__tool" name="fontStyle" aria-label="Font Style" [(ngModel)]="role" (ngModelChange)="checkRole()">
        <mat-button-toggle value="agent" class="bg-red" [class.color-white]="role !== 'patient'" [class.faded]="role === 'patient'" i18n="agent|agent@@agent">Agent</mat-button-toggle>
        <mat-button-toggle value="patient" class="bg-blue" [class.color-white]="role !== 'agent'" [class.faded]="role === 'agent'" i18n="patient|patient@@patient">Patient</mat-button-toggle>
      </mat-button-toggle-group>
      <button *ngIf="!selectAllAg && role === 'agent'" class="toolbar__tool" mat-icon-button (click)="toggleSelectAll()">
        <mat-icon aria-label="Select all">done_all</mat-icon>
      </button>
      <button *ngIf="selectAllAg && role === 'agent'" class="toolbar__tool bg-red color-white" mat-icon-button (click)="toggleSelectAll()">
        <mat-icon aria-label="Select all">done_all</mat-icon>
      </button>
      <button *ngIf="!selectAllPat && role === 'patient'" class="toolbar__tool" mat-icon-button (click)="toggleSelectAll()">
        <mat-icon aria-label="Select all">done_all</mat-icon>
      </button>
      <button *ngIf="selectAllPat && role === 'patient'" class="toolbar__tool bg-blue color-white" mat-icon-button (click)="toggleSelectAll()">
        <mat-icon aria-label="Select all">done_all</mat-icon>
      </button>
    </div>
  </div>

  <div class='panel__content'>
    <mat-list [formGroup]="agCheckboxGroup" class="panel__list pro one" role="list" *ngIf="role === 'agent'">
      <div *ngFor="let value of agCheckboxPossibleValues | async | slice:0:limit ">
        <mat-checkbox [color]="'red'" [formControlName]="value.tag">{{ value.gloss }}</mat-checkbox>
      </div>
    </mat-list>
    <mat-list [formGroup]="agCheckboxGroup" class="panel__list pro two" role="list" *ngIf="role === 'agent'">
      <div *ngFor="let value of agCheckboxPossibleValues | async | slice:limit ">
        <mat-checkbox [color]="'red'" [formControlName]="value.tag">{{ value.gloss }}</mat-checkbox>
      </div>
    </mat-list>
    <mat-list [formGroup]="patCheckboxGroup" class="panel__list pro one" role="list" *ngIf="role === 'patient'">
      <div *ngFor="let value of patCheckboxPossibleValues | async  | slice:0:limit ">
        <mat-checkbox [color]="'blue'" [formControlName]="value.tag">{{ value.gloss }}</mat-checkbox>
      </div>
    </mat-list>
    <mat-list [formGroup]="patCheckboxGroup" class="panel__list pro two" role="list" *ngIf="role === 'patient'">
      <div *ngFor="let value of patCheckboxPossibleValues | async  | slice:limit ">
        <mat-checkbox [color]="'blue'" [formControlName]="value.tag">{{ value.gloss }}</mat-checkbox>
      </div>
    </mat-list>
  </div>
</div>