<div class="margin-top-20 panel centered full-width">
    <div class='panel__header--small'>
        <div class='container'>
            <div class='row'>
                <br>
            </div>
            <div class='row'>
                <br>
            </div>
            <div class='row'>
                <div class='instructions col-sm-12'>
                    <p>{{ "ww.wordmaker.temp.select-temp" | translate }}</p>
                </div>
            </div>
        </div>
    </div>
    <hr class='margin-bottom-50'>
    <div class='panel__content--large' *ngIf="selection$ | async as selection">
        <div class="pwidth-50--desktop pwidth-100--mobile centered" *ngIf='selection.conjugations.length > 0'>
            <mat-chip-list>
                <mat-chip (click)="onChipClick(conjugation.input.option)" class="bg-white color-black border-accent"
                    *ngFor="let conjugation of selection.conjugations">{{ conjugation.input.option }}</mat-chip>
            </mat-chip-list>
        </div>
    </div>
</div>