// Color Palette
// examples based on the official Sass styleguide
@import "palettes";

// descriptive colors
// =============

$hopbush: #c69;
$bouquet: #b37399;
$venus: #998099;
$patina: #699;
$nebula: #d2e1dd;
$white: #fff;
$dawn-pink: #f2ece4;
$wafer: #e1d7d2;
$iron: #dadbdf;
$regent-grey: #808c99;
$pale-sky: #6b717f;
$midnight-blue: #036;
$black: darken(#08090e, 2%);
$white: #fff;
// Added
$steel-blue: #427fb8; //500 of md-primary
$eden: #114b5f; //500 of md-accent
$persian-red: #cf403a; //500 of md-red
$lochmara: #067bc2; //500 of md-blue
$seance: #6a1b9a; //500 of md-purple

// main color palette
// =============
$color-primary: map-get($md-primary, 500);
$color-accent: map-get($md-accent, 400);
$color-shadow: rgba($black, 0.125);
$color-note: #666;

$ui-colors: (
  primary: $color-primary,
  accent: $color-accent,
  shadow: $color-shadow,
  white: $white,
  black: $black,
);

// Common colors
$color-background: $white;
$color-background-shade: $iron;
$color-background-invert: $hopbush;
// $color-text:                darken($pale-sky, 15);
$color-text: $black;
$color-text-weak: $regent-grey;
$color-text-strong: $midnight-blue;
$color-text-heading: $regent-grey;
$color-text-invert: rgba($color-background, 0.75);
$color-text-strong-invert: $color-background;

// Verb highlight colors
$verb-highlight-colors: (
  agent: map-get($md-red, 600),
  patient: map-get($md-blue, 600),
  transitive: map-get($md-purple, 600),
);

$verb-highlight-color-names: (
  red: map-get($verb-highlight-colors, agent),
  blue: map-get($verb-highlight-colors, patient),
  purple: map-get($verb-highlight-colors, transitive),
);

$other-highlights: (
  1: #229482,
  2: #92b4f4,
  3: #5d74bf,
  4: #92374d,
  5: #aa4465,
  6: #92374d,
);

// Links
$color-link: $color-primary;
$color-link-hover: $midnight-blue;
$color-link-visited: $bouquet;

// Code
$color-code: #333;
$color-code-background: #f3f3f3;
$color-pre: #d4d4d4;
$color-pre-background: #333;

// Selections
$color-selection: #b3d4fc;

// Messages
$color-message: #f4ecbb;
$success-colors: mat-palette($mat-green, 400);
$warning-colors: mat-palette($mat-amber, 400);
$color-success: map-get($success-colors, 500);
$color-warning: map-get($warning-colors, 500);
$color-important: #d00;
$color-notice: #66b;
