<div class='nav-container vwidth-100'>
  <nav class="vwidth-100 height-30 bg-accent">
    <logo-anime class='ui-button'></logo-anime>
    <h4 class="nav-container__subheader" i18n="Subheader|Subheader message@@subheaderMessage">A {{language}} online verb conjugator</h4>
    <div class="nav-container__content">
      <ul class="navbar navbar-nav">
        <li class="navbar__item" [routerLinkActive]="['navbar__item--active']">
          <a class="navbar__link" routerLink="wordmaker" i18n="word maker|Title of word maker page@@wordMaker">Word Maker</a>
        </li>
        <li class="navbar__item" [routerLinkActive]="['navbar__item--active']">
          <a class="navbar__link" routerLink="tableviewer" i18n="table viewer|Title of table viewer page@@tableViewer">Table Viewer</a>
        </li>
        <li class="navbar__item" [routerLinkActive]="['navbar__item--active']">
          <a class="navbar__link" routerLink="info" i18n="info page|Title of info page@@infoPage">Info</a>
        </li>
        <li class="navbar__item" [routerLinkActive]="['navbar__item--active']">
          <a class="navbar__link" routerLink="about" i18n="about page|Title of about page@@aboutPage">About</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" (click)="openSettings()" i18n="Settings|Title of settings@@settings">Settings</a>
        </li>
      </ul>
    </div>
    <button class="nav-container__content--mobile" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon aria-label="Show toolbar" i18n="Settings|Title of settings@@settings">menu</mat-icon>
    </button>
  </nav>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="wordmaker" i18n="word maker|Title of word maker page@@wordMaker">Word Maker</button>
  <button mat-menu-item routerLink="tableviewer" i18n="table viewer|Title of table viewer page@@tableViewer">Table Viewer</button>
  <button mat-menu-item routerLink="info" i18n="info page|Title of info page@@infoPage">Info</button>
  <button mat-menu-item routerLink="about" i18n="about page|Title of about page@@infoPage">About</button>
  <button mat-menu-item (click)="openSettings()" i18n="Settings|Title of settings@@settings">Settings</button>
</mat-menu>
<header class='bg-img'>
  <page-info *ngIf="router.url === '/info'"></page-info>
  <page-tableviewer *ngIf="router.url === '/tableviewer'"></page-tableviewer>
  <page-wordmaker *ngIf="router.url === '/wordmaker'"></page-wordmaker>
  <page-about *ngIf="router.url === '/about'"></page-about>
</header>