<div class='panel' *ngIf="selection$ | async as selection">
  <div class='panel__header--tableview panel__header'>
    <h5 class='panel__title'>{{ 'ww.tableviewer.pers.title' | translate }}</h5>
  </div>
  <mat-form-field class='control' *ngIf="validationService.validate('display', 'categories', 'agents')">
    <mat-label>{{ 'ww.tableviewer.pers.select-agent' | translate }}</mat-label>
    <mat-select [ngModel]="selection.agent" multiple (selectionChange)="onAgentSelect($event)">
      <mat-select-trigger>
        {{selection.agent ? selection.agent[0]?.gloss : ''}}
        <span *ngIf="selection.agent.length > 1" class="example-additional-selection">
          (+{{selection.agent.length - 1}} {{selection.agent.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let pn of possiblePronouns$ | async" [value]="pn">{{pn.gloss}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class='control' *ngIf="validationService.validate('display', 'categories', 'patients')">
    <mat-label>{{ 'ww.tableviewer.pers.select-patient' | translate }}</mat-label>
    <mat-select [ngModel]="selection.patient" multiple (selectionChange)="onPatientSelect($event)">
      <mat-select-trigger>
        {{selection.patient ? selection.patient[0]?.gloss : ''}}
        <span *ngIf="selection.patient.length > 1" class="example-additional-selection">
          (+{{selection.patient.length - 1}} {{selection.patient.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let pn of possiblePronouns$ | async" [value]="pn">{{pn.gloss}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>