<div class='panel'>
  <div class='panel__header panel__header--tableview'>
    <h5 class="panel__title">{{ 'ww.tableviewer.verb.title' | translate }}</h5>
    <button *ngIf='(selection$ | async).root.length > 0' class="mat-accent conjugate deselect" mat-raised-button
      (click)="checkboxGroup.reset()">
      {{ 'ww.tableviewer.verb.deselect' | translate }}
    </button>
  </div>
  <div class="panel__content">
    <form>
      <div>
        <mat-form-field class='control' [formGroup]="verbForm">
          <input autocomplete="off" type="text" [placeholder]="'ww.tableviewer.verb.placeholder' | translate"
            aria-label="Number" matInput formControlName="search">
        </mat-form-field>
      </div>
    </form>
    <mat-list class='panel__list' role="list" *ngIf="searchField.value !== ''">
      <div [formGroup]="checkboxGroup" *ngFor="let value of viewableVerbs$ | async">
        <mat-checkbox class='margin-5'
          [disabled]="(selection$ | async).root.indexOf(value.tag) < 0 && (selection$ | async).root.length >= 3"
          [formControlName]="value.tag">{{
            value.gloss}}
          <span *ngIf='value.display'> - {{value.display}}</span>
        </mat-checkbox>
      </div>
    </mat-list>
    <p class='unfound'
      *ngIf="searchField.value !== '' && searchField.value !== null && (viewableVerbs$ | async)?.length === 0">
      <span>{{ 'ww.tableviewer.verb.no-matching-verb' | translate: { value: searchField.value } }}</span></p>
  </div>

</div>