.page {
  min-height: em(644);
  &__content {
    margin-top: em(50);
    @include mq(em(1920), "min-width") {
      margin-top: 10vh;
    }
    @include mq(em(map-get($breakpoints, medium)), "max-width") {
      width: 100%;
      padding: 0;
      margin: 0 !important;
      min-height: 100%;
    }
    max-height: em(644);
  }
}

.welcome {
  @include mq(em(map-get($breakpoints, medium)), "max-width") {
    margin-top: 0;
  }
}
