<div class="panel">
  <div class="panel__header panel__header--tableview">
    <h5 class="panel__title">Time</h5>
  </div>
  <mat-form-field class='control'>
    <mat-label>Selection</mat-label>
    <mat-select [formControl]="times" multiple>
      <mat-select-trigger>
        {{times.value?.length ? times.value[0].gloss : ''}}
        <span *ngIf="times.value?.length > 1" class="example-additional-selection">
          (+{{times.value?.length - 1}} {{times.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let time of possibleTimes$ | async" [value]="time">{{time.gloss}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>