<div class="margin-top-20 full-width centered panel">
  <div class="panel__header">
    <mat-toolbar class="progress">
      <mat-toolbar-row class='progress__row--tools progress__row--previous'>
        <p class='color-white margin-0 font-sm'>Step 1/3</p>
        <button mat-icon-button class='ui-button right-5 abs color-white' (click)="goBack()">
          <mat-icon aria-label="go back">arrow_back</mat-icon>
        </button>
      </mat-toolbar-row>
      <mat-toolbar-row class='progress__row--header'>
        <h4 class='vmargin-bottom-10 panel__title font-xl color-white'>So, <b>what</b> action do you want to choose?
        </h4>
        <p *ngIf="explorer_click$ | async as exp">{{ exp?.seriesType }}</p>

      </mat-toolbar-row>

    </mat-toolbar>
  </div>
  <div class='vheight-50 flex-display'>
    <div class='vwidth-45--desktop vwidth-90--mobile'>
      <form class="margin-left-20">
        <mat-form-field class="margin-bottom-20" [formGroup]="verbForm">
          <input autocomplete="off" type="text" placeholder="Search for a verb" value="" aria-label="Number" matInput
            formControlName="search">
        </mat-form-field>
      </form>
      <ng-template #loading>
        <mat-spinner class="centered"></mat-spinner>
      </ng-template>
      <mat-chip-list class="panel__list custom-scroll" *ngIf="verbs$ | async as verbs; else loading">
        <p *ngIf="verbs.length === 0">Sorry, there are no verbs matching '{{ searchField.value }}'</p>
        <mat-chip class="margin-5 bg-white border-accent" (click)="select(verb)" *ngFor="let verb of verbs">
          <span class="centered color-black" *ngIf="display_language !== 'english'">{{verb.root}}</span>
          <span class="centered color-black" *ngIf="display_language === 'english'">{{verb.gloss}}</span>
          <mat-icon class="icon-sm margin-left-5"
            [ngClass]="verb?.thematic_relation ? 'color-' + verb?.thematic_relation : ''">brightness_1</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
    <div *ngIf="showExplorer" class="vwidth-45 full-height desktop-only">
      <div *ngIf="chart_response">
        <div #explorer echarts [options]="chart_response" class="demo-chart" (chartClick)="onChartClick($event)"></div>
      </div>
    </div>
  </div>

</div>