<div class='panel'>
  <div class='panel__header'>
    <h5 class="panel__title">Verb</h5>
    <button *ngIf='selectionService.selection.root.length > 0' class="mat-accent conjugate deselect" mat-raised-button
      (click)="remove()">
      Deselect all
    </button>
  </div>
  <div class="panel__content">
    <form>
      <div>
        <mat-form-field class='control' [formGroup]="verbForm">
          <input autocomplete="off" type="text" placeholder="Type a verb" aria-label="Number" matInput
            formControlName="search">
        </mat-form-field>
      </div>
    </form>
    <mat-list class='panel__list' role="list" *ngIf="searchField.value !== ''">
      <div [formGroup]="checkboxGroup" *ngFor="let value of viewableVerbs$ | async">
        <mat-checkbox class='margin-5'
          [disabled]="selectionService.selection.root.indexOf(value.tag) < 0 && selectionService.selection.root.length >= 3"
          [formControlName]="value.tag">{{
            value.gloss + " - " }}
          <span [ngClass]="'color-' + value.thematic_relation">{{value.display}}</span>
        </mat-checkbox>
      </div>
    </mat-list>
    <p class='unfound'
      *ngIf="searchField.value !== '' && searchField.value !== null && (viewableVerbs$ | async)?.length === 0">
      <span><b class='centered'>Sorry</b></span><br>
      We can't find any verbs that match '{{ searchField.value }}'</p>
  </div>

</div>