<div class='panel'>
  <div class='panel__header--tableview panel__header'>
    <h5 class='panel__title'>Person</h5>
  </div>
  <mat-form-field class='control'>
    <mat-label>Select Agent</mat-label>
    <mat-select [formControl]="agent" multiple>
      <mat-select-trigger>
        {{agent.value ? agent.value[0].gloss : ''}}
        <span *ngIf="agent.value?.length > 1" class="example-additional-selection">
          (+{{agent.value.length - 1}} {{agent.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let pn of possiblePronouns$ | async" [value]="pn">{{pn.gloss}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class='control'>
    <mat-label>Select Patient</mat-label>
    <mat-select [formControl]="patient" multiple>
      <mat-select-trigger>
        {{patient.value ? patient.value[0].gloss : ''}}
        <span *ngIf="patient.value?.length > 1" class="example-additional-selection">
          (+{{patient.value.length - 1}} {{patient.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let pn of possiblePronouns$ | async" [value]="pn">{{pn.gloss}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>