<div class="margin-top-20 full-width centered panel">
    <div class="panel__header container">
        <div class="row">
            <div class='col-sm-12'>
                <form class="margin-left-25 font-md" *ngIf="viewableVerbs$ | async">
                    <mat-form-field class="margin-bottom-20" [formGroup]="verbForm">
                        <input autocomplete="off" type="text"
                            [placeholder]="'ww.wordmaker.verb.search-placeholder' | translate" value=""
                            aria-label="Number" matInput formControlName="search">
                    </mat-form-field>
                </form>
            </div>
        </div>
        <div class='row' *ngIf="viewableVerbs$ | async as viewableVerbs">
            <div class='instructions col-sm-12' [ngSwitch]='viewableVerbs.length'>
                <p *ngSwitchDefault>
                    {{ 'ww.wordmaker.verb.select-verb-multiple' | translate: { number: viewableVerbs.length } }}
                </p>
                <p *ngSwitchCase='1'>{{ "ww.wordmaker.verb.select-verb-single" | translate }}</p>
                <p *ngSwitchCase='0'
                    [innerHTML]="'ww.wordmaker.verb.no-matching-verbs' | translate: { value: searchField.value }"></p>
            </div>
        </div>
    </div>
    <hr *ngIf="viewableVerbs$ | async" class='margin-bottom-50'>
    <div class='panel__content custom-scroll-y'>
        <ng-template #loading>
            <mat-spinner class="centered"></mat-spinner>
        </ng-template>
        <mat-chip-list class="panel__list" *ngIf="viewableVerbs$ | async as verbs; else loading">
            <p *ngIf="verbs.length === 0">{{ "ww.wordmaker.verb.try-again" | translate }}</p>
            <mat-chip class="margin-5 bg-white border-accent" (click)="onVerbSelect(verb)" *ngFor="let verb of verbs">
                <span class="centered color-black">{{verb.gloss}}</span>
                <mat-icon class="icon-sm margin-left-5" [ngClass]="verb?.classes">brightness_1
                </mat-icon>
            </mat-chip>
        </mat-chip-list>
    </div>

</div>