<div *ngIf="!selection.loading && (gridData$ | async) as gridData;" [hidden]="!selection.gridView">
    <div id="table-container" class="rel">
        <div class="error__container" *ngIf="isString(gridData)">
            <h3 class="error__header">
                {{ 'ww.tableviewer.conj.error.title' | translate }}
            </h3>
            <p class="error__message">{{ gridData }}</p>
            <p class="error__message">
                {{ 'ww.tableviewer.conj.error.message' | translate }}
            </p>
        </div>
        <table class="full-width abs" *ngIf="!isString(gridData)">
            <thead>
                <tr>
                    <th *ngIf="isL2Showing(settings.level)">
                        <h3 class='center-text'>{{ 'ww.language' | translate }}</h3>
                    </th>
                    <th *ngIf="isL2Showing(settings.level)">
                        <h3 class='center-text'>{{ 'ww.translation-language' | translate }}</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="b--bottom" *ngFor="let conjugation of gridData">
                    <td class='center-text'>
                        <div *ngFor="let tier of conjugation; let i = index">
                            <h3 *ngIf='tier.options.language === "L1" && i === 0' [innerHTML]='tier.html'></h3>
                            <h5 *ngIf='settings.level[tier.name] && tier.options.language === "L1" && i !== 0'
                                [innerHTML]='tier.html'></h5>
                        </div>
                    </td>
                    <td class='center-text' *ngIf="isL2Showing(settings.level)">
                        <div *ngFor="let tier of conjugation; let i = index">
                            <h3 *ngIf='settings.level[tier.name] && tier.options.language === "L2" && i === 0'
                                [innerHTML]='tier.html'></h3>
                            <h5 *ngIf='settings.level[tier.name] && tier.options.language === "L2" && i !== 0'
                                [innerHTML]='tier.html'></h5>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>