<div class="panel">
  <div class="panel__header panel__header--tableview">
    <h5 class="panel__title">{{ 'ww.tableviewer.temp.title' | translate }}</h5>
  </div>
  <mat-form-field class='control'>
    <mat-label>{{ 'ww.tableviewer.temp.select' | translate }}</mat-label>
    <mat-select *ngIf="selection$ | async as selection" [ngModel]="selection['aff-option']" multiple
      (selectionChange)="onAffOptionSelect($event)">
      <mat-select-trigger>
        {{selection['aff-option'].length ? selection['aff-option'][0].gloss : ''}}
        <span *ngIf="selection['aff-option'].length > 1" class="example-additional-selection">
          (+{{selection['aff-option'].length - 1}} {{selection['aff-option'].length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let time of possibleTimes$ | async" [value]="time">{{time.gloss}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>