#lineDrawing {
  pointer-events: none;
  position: absolute;
  top: 15px;
  left: 75px;
}

#start {
  width: 4em;
  height: 4em;
  font-size: 1.25em;
  // margin-left: 15em;
  position: relative;
  // left: -1500px;
  // margin-left: 25%;
  margin-top: 25px;
}

#svgGroup {
  stroke-width: 0.5mm;
  // fill: transparent;
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
}
