@import "../../../../scss/utilities/colors";
@import "~@angular/material/theming";

@mixin ww-tableviewer-component-theme-common($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground-palette: map-get($theme, foreground);

  .mat-option-text {
    color: mat-color($foreground-palette, base);
  }

  // .error__container {
  //   background-color: mat-color($warn);
  // }

  // .error__header,
  // .error__message {
  //   color: mat-color($warn, default-contrast);
  // }

  .mat-pseudo-checkbox-checked {
    background-color: mat-color($accent) !important;
  }
}

@mixin ww-tableviewer-component-theme-dark($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background-palette: map-get($theme, background);
  $foreground-palette: map-get($theme, foreground);

  ww-tableviewer {
    .mat-figure {
      background-color: darken(mat-color($primary), 10%);
    }

    ww-tableviewer-conj-panel {
      background-color: darken(mat-color($primary), 5%);
    }
  }
}

@mixin ww-tableviewer-component-theme-light($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background-palette: map-get($theme, background);
  $foreground-palette: map-get($theme, foreground);

  .control {
    .mat-form-field-underline {
      background-color: mat-color($primary, default-contrast);
    }
  }

  .control.mat-focused {
    .mat-form-field-underline {
      background-color: transparent;
    }

    .mat-form-field-ripple {
      background-color: lighten(
        mat-color($primary, default-contrast),
        10%
      ) !important;
    }
  }

  ww-tableviewer {
    .mat-checkbox-frame {
      border-color: mat-color($primary, default-contrast) !important;
    }

    mat-checkbox {
      label,
      span {
        color: mat-color($primary, default-contrast) !important;
      }
    }

    .mat-drawer-container {
      background-color: mat-color($primary, default-contrast) !important;
    }

    .mat-select-arrow,
    mat-label {
      color: mat-color($primary, default-contrast) !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    label,
    input,
    span {
      color: mat-color($primary, default-contrast);
    }

    .mat-accent {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      label,
      input,
      span {
        color: mat-color($accent, default-contrast);
      }
    }

    .mat-figure {
      background-color: darken(mat-color($primary), 0%);
    }

    ww-tableviewer-conj-panel {
      background-color: darken(mat-color($primary), 5%);
    }
  }
}
