@import "../../../../scss/utilities/colors";
@import "~@angular/material/theming";

@mixin ww-tableviewer-component-theme-common($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground-palette: map-get($theme, foreground);

  th.mat-header-cell {
    border-bottom: 1px solid mat-color($foreground-palette, base);
  }

  th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    padding: 0;
    border-right: 1px solid mat-color($foreground-palette, base);
  }

  td.mat-cell {
    padding: 16px 0;
  }

  .mat-option-text {
    color: mat-color($foreground-palette, base);
  }

  // .error__container {
  //   background-color: mat-color($warn);
  // }

  // .error__header,
  // .error__message {
  //   color: mat-color($warn, default-contrast);
  // }

  .mat-pseudo-checkbox-checked {
    background-color: mat-color($accent) !important;
  }
}

@mixin ww-tableviewer-component-theme-dark($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background-palette: map-get($theme, background);
  $foreground-palette: map-get($theme, foreground);

  $background: lighten(mat-color($background-palette, background), 10%);
  $foreground: mat-color($foreground-palette, base);

  ww-tableviewer {
    .mat-figure,
    .selected-verb-panel {
      background-color: darken($background, 3%);
    }

    .draggable-item {
      border: 1px solid $foreground;
    }

    ww-tableviewer-conj-panel,
    .mat-table,
    .mat-paginator {
      background-color: $background;
    }
  }
}

@mixin ww-tableviewer-component-theme-light($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background-palette: map-get($theme, background);
  $foreground-palette: map-get($theme, foreground);

  $background: mat-color($background-palette, background);
  $foreground: mat-color($foreground-palette, base);

  .control {
    .mat-form-field-underline {
      background-color: $foreground;
    }
  }

  .control.mat-focused {
    .mat-form-field-underline {
      background-color: transparent;
    }

    .mat-form-field-ripple {
      background-color: $foreground !important;
    }
  }

  ww-tableviewer {
    .mat-checkbox-frame {
      border-color: $foreground !important;
    }

    mat-checkbox {
      label,
      span {
        color: $foreground !important;
      }
    }

    .mat-drawer-container {
      background-color: $foreground !important;
    }

    .mat-select-arrow,
    mat-label {
      color: $foreground !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    label,
    input,
    span {
      color: $foreground;
    }

    .mat-accent {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      label,
      input,
      span {
        color: mat-color($accent, default-contrast);
      }
    }

    .mat-figure,
    .selected-verb-panel {
      background-color: darken($background, 2%);
    }

    ww-tableviewer-conj-panel,
    .mat-table,
    .mat-paginator {
      background-color: $background;
    }
  }
}
