@import "../../../../scss/utilities/colors";
@import "~@angular/material/theming";

@mixin ww-tableviewer-component-theme-common($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .error__container {
    background-color: mat-color($warn);
  }

  .error__header,
  .error__message {
    color: mat-color($warn, default-contrast);
  }

  .mat-option.mat-selected {
    color: mat-color($accent) !important;
  }

  .mat-pseudo-checkbox-checked {
    background: mat-color($accent) !important;
  }

  ww-tableviewer {
    .mat-drawer-container {
      color: mat-color($primary, default-contrast) !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span {
      color: mat-color($primary, default-contrast);
    }

    .mat-accent {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      span {
        color: mat-color($accent, default-contrast);
      }
    }
  }
}

@mixin ww-tableviewer-component-theme-dark($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .mat-figure {
    background-color: darken(mat-color($primary), 10%);
  }
}

@mixin ww-tableviewer-component-theme-light($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .mat-figure {
    background-color: lighten(mat-color($primary), 5%);
  }
}
