<div class="container page page__content vwidth-90 centered center-text">
  <div class="welcome">
    <div [ngClass]="routeAnimationsElements">
      <h2>{{ "ww.pages.wordmaker.home.welcome" | translate }}</h2>
      <div
        [innerHTML]="'ww.pages.wordmaker.home.instructions' | translate"
      ></div>
      <button
        mat-raised-button
        class="ui-button"
        color="accent"
        id="start"
        routerLink="stepper"
      >
        {{ "ww.pages.wordmaker.home.start" | translate }}
      </button>
    </div>
  </div>
</div>
